<!DOCTYPE html>
<html lang="en">

<head>
    <title>Activity Visualization</title>
    <style>
        .cell {
            width: 10px;
            height: 10px;
            border-radius: 20%;
            border-color: #0001;
            border-width: 1px;
            border-style: solid;
        }
    </style>
</head>

<body>
    <form method="post">
        <input type="date" name="from" value="{{dates[0]}}"> -
        <input type="date" name="to" value="{{dates[1]}}">
        <select name="title" onchange="this.form.submit()">
            {% for title in titles %}
            {% if title == selected_title %}
            <option value="{{title}}" selected>{{title}}</option>
            {% else %}
            <option value="{{title}}">{{title}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
        <font color="red">{{error_msg}}</font>
    </form>
    <table style="border-spacing: 4px;">
        {% for line in data %}
        <tr>
            {% for value, desc in line %}
            {% if value >= 0 %}
            <td class="cell" style="background-color: rgba(65, 131, 196, {{value|round(3)}});" title="{{desc}}" />
            {% else %}
            <td class="cell" style="border-color: #0000;" />
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>