<!DOCTYPE html>
<html lang="en">

<head>
    <title>Activity Visualization</title>
    <style>
        .box {
            width: 10px;
            height: 10px;
            border-radius: 20%;
            border-color: #0001;
            border-width: 1px;
            border-style: solid;
        }
    </style>
</head>

<body>
    <form>
        <input type="date" id="from" name="from" value="{{dates[0]}}"> -
        <input type="date" id="to" name="to" value="{{dates[1]}}">
        <input type="submit" value="Submit">
        <font color="red">{{error_msg}}</font>
    </form>
    <table style="border-spacing: 4px;">
        {% for line in table %}
        <tr>
            {% for cell in line %}
            <td class="box" style="background-color: rgba(65, 131, 196, {{cell}});" />
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>